*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}
nav{
    height: 80px;
    color: red;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((10vw - 500px) / 2);
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
nav a:hover{
    color: yellow;
}
.hero{
    background-image: url("Screenshot_20241114-222200~2.png");
    background-size: 1550px;
    background-repeat: no-repeat;
    height: 900px;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    padding: 3rem calc((10vw - 500px) / 2);
}
.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
}
.column-left h1{
    margin-bottom: 1rem;
    font-size: 5rem;
    color: red;
    font-weight: bold;
}
